@layer components {
    .pwa-status {
        container-type: inline-size;
        --pwa-bg: var(--alice-persian-blue, #2048b4);
        --pwa-color: var(--alice-bright-sun, #ffc940);
        background: var(--pwa-bg);
        color: var(--pwa-color);
        border-radius: 1em;
        box-shadow: 0 2px 8px 0 rgb(41 53 63 / 0.08);
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        font-weight: 600;

        @supports (container-type: inline-size) {
            @container (min-width: 400px) {
                font-size: 1.1rem;
                padding: 1.2rem 3rem;
            }
        }

        &__icon {
            font-size: 1.5em;
            margin-inline-end: 0.5em;
        }

        &__status {
            font-weight: 700;
        }
    }
}
