// Font principali
$font-sans: 'Source Sans 3', Arial, sans-serif;
$font-mono: 'Source Code Pro', monospace;

:root {
    --font-sans: 'Source Sans 3', Arial, sans-serif;
    --font-mono: 'Source Code Pro', monospace;
}
